*
!ci-conf.json
!Cargo.toml
!Cargo.lock
!build.rs
!api/
!ir/
!ast2code/
!cli/
!compiler/
!testing/
!ci/bump-dependencies.sh
!benches/
!docs/
!deny.toml
!dictionary.txt
!LICENSE.txt
!README.md
!rustfmt.toml
